*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    
}



header{
background-image: url(/assets/design1_image2.jpg);
background-position: 0% 16%;
margin-top: 80px;
margin-left: 75px;
display: inline-block;
width: 1200px;
height: 300px;
border-radius: 10px;
}

h1{
    position: absolute;
    top: 40px; left:75px;
}

h2{
    text-align: center;
    color :black;
    position: absolute;
    top: 380px; left: 75px;
    background-color:aliceblue;
    border: 2px solid black;
    display:inline-block;
    width: 1200px;
    border-radius: 10px;
    
}

.a{
    background-color: black;
    display: inline-block;
    margin: 9px;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 10px;
}

#home{
    background-color: rgb(153, 238, 67);
    color:azure ;
    font-size: large;
    font-weight: bolder;
}

#about{
    background-color: rgb(57, 144, 243);
    color:azure ;
    font-size: large;
    font-weight: bolder;
}


#contact{
    background-color: rgb(57, 144, 243);
    color:azure ;
    font-size: large;
    font-weight: bolder;
}

.logo{
    position: relative;
    top:400px;left: 30px;
    width: 200px;
    height: 200px;
    display: block;
}

nav{
position: absolute;
top: 20px;left: 900px;
}


article{
    display: inline-block;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 500px; left:350px;
    margin: 30px;
}

.img1{
    height: 320px;
    width: 450px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    top: 60px;left: 800px;
    filter: drop-shadow(8px 8px 10px );
}

h3{
    margin: 10px;
}





