*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    
}

header{
background-image: url(/assets/design1_image1.jpg);
background-attachment:local;
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
width: 1200px;
height: 300px;
position: relative;
top:10px ; left: 75px;
border-radius: 10px;
}

h1{
    position: absolute;
    top: 20px; left: 30px;
    color:rgb(240, 196, 0);
    text-shadow: 3px 3px 0 rgb(22, 22, 22);
}


h2{
    color: beige;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    width: 1200px;
    position: absolute;
    top: 315px; left: 75px;
    
}
.logo{
    display: inline-block;
    width: 160px;
    height: 160px;
    position: absolute;
    top:220px;left:950px;
    background-color: darkgrey;
    border-radius: 20px;
    z-index: 3;
}



nav{
    position: absolute;
    top:415px; left: 60px;
}
.a{
    
    color: black;
    display: block;
    margin: 30px;
    font-size: x-large;
}

.img1{
    height: 320px;
    width: 450px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    top: 150px;left: 800px;
    filter: drop-shadow(8px 8px 10px );
}

article{
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 420px; left:300px;
    margin: 30px;
}

h3{
    margin: 10px;
}